---
import { Image } from 'astro:assets'
import foto from "../gambar/5e965a8c69592.jpg"
import coffe from "../gambar/white-coffe.jpg"
---

<ul>
  <div class="menu item">
    
  <li><Image src={coffe} alt='logo abs' width="250" height="150"></Image></li>
  <div class="buy">
    <span class="title">White Coffe</span>
      <button id="myButton" class="btn">Buy Now</button>
      </div>
  </div>
  <div class="menu item">
    <li><Image src={coffe} alt='logo abs' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">White Coffe</span>
      <button id="myButton" class="btn">Buy Now</button>
        </div>
  </div>
  <div class="menu item">
    <li><Image src={coffe} alt='logo abs' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">White Coffe</span>
      <button id="myButton" class="btn">Buy Now</button>
        </div>
  </div>
  <div class="menu item">
    <li><Image src={coffe} alt='logo abs' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">White Coffe</span>
      <button id="myButton" class="btn">Buy Now</button>
        </div>
  </div>
  <div class="menu item">
    <li><Image src={coffe} alt='logo abs' width="250" height="150"></Image></li>
  <div class="buy">
    <span class="title">White Coffe</span>
    <button id="myButton" class="btn">Buy Now</button>
      </div>
  </div>
</ul>
<script src="../slider-buat-js/button.js"></script>
<style>
  ul {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,30ch),1fr));
    place-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    
  }
  li {
    list-style: none;
  }


  .menu{
    outline: 2px solid black;
  }

  button {
    background-color: #FF8011;
    border:none;
    font-weight: 600;
    color: #ffffff;
    padding: 8px;
  }

  .title{
    text-align: center;
    margin:5px 0 3px 0;
  }

  .buy{
    display: flex;
    flex-direction: column;
  }
</style>