---
import { Image } from 'astro:assets'
import coffe from "../gambar/white-coffe.jpg"
import spageti from "../gambar/spageti.jpg"
import rotbak from "../gambar/roti.jpg"
---
<div class="filter">
  <input type="search" id="search" name="search" placeholder="Search...">
  <input type="submit">
  <div class="dropdown">
    <button class="dropdown-btn"><i class="fa-solid fa-filter"></i> Filter</button>
    <div class="dropdown-content">
      <a href="#" data-filter="makanan">Makanan</a>
      <a href="#" data-filter="minuman">Minuman</a>
      <a href="#" data-filter="roti">Roti</a>
    </div>
  </div>
</div>
<ul id="menu-list">
  <div class="menu item" data-category="minuman" data-name="White Coffe">
    <li><Image src={coffe} alt='White Coffee' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">White Coffe</span>
      <button class="btn">Buy Now</button>
    </div>
  </div>
  <div class="menu item" data-category="minuman" data-name="Moccacino">
    <li><Image src={coffe} alt='Moccacino' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">Moccacino</span>
      <button class="btn">Buy Now</button>
    </div>
  </div>
  <div class="menu item" data-category="minuman" data-name="Cappucino">
    <li><Image src={coffe} alt='Cappucino' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">Cappucino</span>
      <button class="btn">Buy Now</button>
    </div>
  </div>
  <div class="menu item" data-category="minuman" data-name="Americano">
    <li><Image src={coffe} alt='Americano' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">Americano</span>
      <button class="btn">Buy Now</button>
    </div>
  </div>
  <div class="menu item" data-category="makanan" data-name="Spageti">
    <li><Image src={spageti} alt='Spageti' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">Spageti</span>
      <button class="btn">Buy Now</button>
    </div>
  </div>
  <div class="menu item" data-category="roti" data-name="roti">
    <li><Image src={rotbak} alt='Spageti' width="250" height="150"></Image></li>
    <div class="buy">
      <span class="title">Roti</span>
      <button class="btn">Buy Now</button>
    </div>
  </div>
</ul>
<p id="no-results" style="display:none; text-align:center; color:black;">Item tidak ditemukan</p>
<script src="../slider-buat-js/search"></script>
<style>
.filter {
  margin: 2rem 0 2rem 14px;
}

.fa-filter{
  margin-left: 10px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent; 
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}


ul {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 30ch), 1fr));
  place-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.menu {
  outline: 2px solid black;
}

button {
  background-color: #FF8011;
  border: none;
  font-weight: 600;
  color: #ffffff;
  padding: 8px;
}

.title {
  text-align: center;
  margin: 5px 0 3px 0;
}

.buy {
  display: flex;
  flex-direction: column;
}
</style>
